
.main {
    float: left;
}
.fig-img {
    float: left;
    max-width: 100%;
    margin-right: 10px;
}
.main figure {
    margin-bottom: 10px;
}
.intro {
    text-indent: 2em;
}
@media screen and (max-width: 599px) {
    .left-area {
        width: 100%;
    }
    .fig-img {
        max-width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .main figure {
        height: 220px;
    }
    .fig-img {
        width: 40%;
        height: 100%;
    }
    .intro {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
    }
}

@media screen and (min-width: 900px) {
    .left-area {
        float: left;
        width: 30%;
    }
    .main {
        width: 50%;
        margin: 0 3%;
    }

    .fig-img {
        width: 300px;
    }
}


.news {
    margin-bottom: 10px;
}

.news:nth-of-type(odd) .item, .news:nth-of-type(even) .item-detail {
    background-color: darkorange;
}

.news:nth-of-type(even) .item, .news:nth-of-type(odd) .item-detail {
    background-color: pink;
}

.item {
    text-indent: 2em;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.item .op {
    color: #333;
}
.item-detail {
    font-size: 85%;
    text-indent: 2em;
    padding: 6px 6px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    height: 0;
    transition: height 0.4s;
}
.active {
    /*transform: scale3d(1, 1, 1);*/
    height: 7em;
}
